@import 'styles/media-queries.module.scss';

.flashcard {
    display: flex;
    max-width: 57rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.5rem;
    padding-bottom: 1.5rem;
    margin-top: 4rem;

    .with-subtitle {
        justify-content: flex-start;

        h5 {
            text-transform: uppercase;
            font-size: 1rem;
        }

        h3 {
            margin-top: 0.3rem;
        }
    }

    p {
        font-size: 1.3rem;
    }

    .content {
        padding: 1.5rem 0;
    }

    .image-container {
        align-self: center;
    }

    &.image-left {
        flex-direction: row-reverse;

        .image-container {
            margin-right: 5rem;
        }
    }

    &.image-right {
        flex-direction: row;

        .image-container {
            margin-left: 5rem;
        }
    }

    img {
        width: 100%;
    }

    .image-container {
        flex: 1.12 0 0;
    }

    div {
        flex: 1 0 0;

        h3 {
            margin-top: 3rem;
            font-size: 1.5rem;
        }

        p {
            text-align: left;
            font-size: 1.3rem;
        }
    }

    @include lt-md-quizlet {

        &.image-left,
        &.image-right {
            flex-direction: column;
            flex-direction: column-reverse;
            padding: 0 1rem;

            .image-container {
                margin-left: 0;
                margin-right: 0;
            }
        }

        h3 {
            margin-top: 2rem;
            font-size: 1.2rem;
        }

        .image-container {
            margin-left: 0;
        }

        @include lt-md {
            div p {
                font-size: 1rem;
            }
        }
    }
}

@include lt-sm {
    .mobile-margin-image {
        img {
            margin-bottom: 3.4375rem
        }
    }
}

.mt-0 {
    margin-top: 0;
}