@use 'styles/variables.module.scss';

.social-btn {
    padding: 0.48rem 1.5rem;
    border-radius: 0.25rem;
    border: 1px solid variables.$gray-color-250;
    cursor: pointer;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0;
    gap: .5rem;

    span {
        font-weight: 600;
    }
}