@use 'styles/variables.module.scss';
@import 'styles/media-queries.module.scss';

@mixin defaulWidth {
    padding: 4rem 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 81.25em;
}

.footer {
    background-color: variables.$gray-color-100;
    padding: 0rem 2rem;

    .flex-container {
        @include defaulWidth;
        gap: 3rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
        @include defaulWidth;
        padding-bottom: 2rem;
        padding-top: 2rem;

        @include lt-sm {
            padding: 1rem 0 0;
            justify-content: center;

            img {
                margin-top: 2rem;
            }
        }

        div {
            flex-basis: 50%;

            &:first-child,
            &:first-child div {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }

        .social-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .5rem;
            margin-bottom: 1rem;

            a {
                padding: .5rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: variables.$gray-color-200;
                    border-radius: 50%;
                }

                &:active {
                    outline: .5px solid variables.$primary-color;
                }
            }

            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

    svg {
        width: 1rem;
    }

    @include lt-md {
        flex-basis: 25%;
    }

    h5 {
        font-size: 1.05rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    a {
        display: flex;
        gap: .4rem;
        font-size: .95rem;
        margin-bottom: 1rem;
        font-weight: 600;

        &:hover {
            color: variables.$primary-color;
        }
    }
}