@use './variables.module.scss';
@import './media-queries.module.scss';

:root {
    --navlink-container-display: flex;
    --user-select: auto;
}

html {
    user-select: var(--user-select);
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Hurme Geometric Sans 2', -apple-system, BlinkMacSystemFont, sans-serif;
    letter-spacing: 0.2px;
    font-weight: normal;
}

ul,
li {
    list-style: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

a,
button {
    font-size: .92rem;
    text-decoration: none;
}

a:visited {
    color: unset;
}

input {
    outline: none;
}

.mobile-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    flex-direction: column;
    padding-top: 4rem;
    background: white;
    padding-left: 1rem;

    .add-icon {
        display: none !important;
    }

    a,
    button {
        display: flex !important;
        margin: 1rem 0rem;
        font-size: 1.2rem;
        height: unset;
        padding: 0
    }

    .m-navlink {
        position: relative;

        span,
        a {
            &:hover::after {
                background: variables.$primary-color-400;
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
                height: 100%;
                width: .3rem;
                left: -1rem;
                top: 0;
                content: " ";
                position: absolute;
            }
        }
    }

  

    .m-component:nth-child(2) {
        button span {
            font-weight: 700;
        }

        span {
            font-size: 1.2rem;
        }

        button {
            &:hover::after {
                content: unset;
            }
        }

        order: 4;
    }

    .m-component div {
        position: relative;
    }

    .m-component {

        &:hover::after,
        & button:hover::after {
            background: variables.$primary-color-400;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            height: 100%;
            width: .3rem;
            left: -1rem;
            top: 0;
            content: " ";
            position: absolute;
        }
    }

    &:last-child button {
        background-color: white;
        color: variables.$gray-color-400;
        padding-left: 0;
    }
}

// font : Hurme Geometric Sans 2
// font weights : 100,200,300,400,500,600,700
@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-Black.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-BlackObl.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-BlackObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-Hairline.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-Hairline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-Bold.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-BoldObl.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-BoldObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-RegularObl.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-RegularObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-HairlineObl.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-HairlineObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-LightObl.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-LightObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-SemiBoldObl.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-SemiBoldObl.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-SemiBold.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-Light.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-ThinObl.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-ThinObl.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-Regular.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 2';
    src: url('/fonts/HurmeGeometricSans2-Thin.woff2') format('woff2'),
        url('/fonts/HurmeGeometricSans2-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}